html
   body
      p
         | This is a Mobile Pack Demo&period;
         a(href='https://github.com/rajaraodv/SFAngularBootStrap') Learn more
         | &period;
      p
         | Built with
         a(href='http://angularjs.org') AngularJS
         | and
         a(href='http://twitter.github.com/bootstrap')
            | Twitter
            | Bootstrap
         | &period;
      p
         | Designed for use with your
         a(href='http://www.developerforce.com/events/regular/registration.php?d=70130000000EjHb')
            | Salesforce
            | Developer Edition
         | &period;
      p
         | Built by
         a(href='http://twitter.com/rajaraodv') Raja Rao DV
         | and
         a(href='http://twitter.com/ReidCarlberg') Reid Carlberg
