.modal-body
   p Welcome to Skewer. Please log in with your Salesforce account.&nbsp;
   a(href='http://getskewer.com', target='_blank') What's this?
   p(style='text-align: center; padding: 5rem 0;')
      button.btn.btn-large.btn-primary(ng-click='login()')
         | Login with Salesforce
