div.clearfix

   .modal-body(style='text-align: center')
      h2.share-url-page-heading-text.modal-body
         | Your URL to share

      h3.share-url-page-share-url.modal-body(ng-class='{"well":shareUrl}')
         span(ng-show='!shareUrl', loading-spinner, data-spinner-size='29')
         a(ng-show='shareUrl', href='{{shareUrl}}', target='_blank')
            | {{shareUrl}}

      .modal-body.btn-group.btn-group-vertical.fade(
            ng-class='{"in":shareUrl}')

         a.btn.btn-large.btn-primary(
               target='_blank'
               ng-click="composeTweet()")
            i.fa.fa-twitter
            |  Tweet it

         a.btn.btn-large.btn-primary(
               href='{{getMailtoLink()}}')
            i.fa.fa-envelope
            |  Send by email
