div(ng-show='isWorking()')
   p Working

div(ng-show='!isWorking()')

   // This div is only displayed in deskcops (see below for mobile phones)
   .hidden-phone
      div(style='float: left')
         div(style='margin-bottom: 10px;')
            input.search-query(type='text', ng-model='searchTerm', placeholder='Search')
            p.btn.btn-primary(ng-click='doSearch(searchString)')
               |  Go

      table.table(width='80%')
         thead
            tr
               th.hidden-phone Id
               th Name
               th Created at
               th Owner
         tbody
            tr(ng-repeat='opportunity in opportunities')
               td.hidden-phone {{opportunity.Id}}
               td
                  a(href='#/skewer/{{opportunity.Id}}/{{giRoomId}}')
                     | {{opportunity.Name}}
               td {{opportunity.CreatedDate}}
               td {{opportunity.OwnerId}}

   // This div is only displayed in mobile phones (see above for desktops)
   .visible-phone
      h3(style='text-indent: 11px; margin-bottom: 14px;')
         | Opportunities

      //- form.form-inline
         input.input-medium.search-query(type='text', ng-model='searchTerm', placeholder='Search')
         button.btn.btn-primary(ng-click='doSearch(searchString)')
            | Go

      table.table.responsive-item-list-table
         tr(ng-click='doView(opportunity.Id)', ng-repeat='opportunity in opportunities')
            td
               a(href='#/skewer/{{opportunity.Id}}/{{giRoomId}}')
                  | {{opportunity.Name}}
