@media (min-width: 480px) {
   ul.component-adjustment-buttons {
      zoom: 0.87 !important;
   }
}

@media (min-width: 640px) {
   ul.component-adjustment-buttons {
      zoom: 1 !important;
   }
}

@media (min-width: 768px) {
   .pitch-editor {
      padding: 0 25px;
   }
}

/* *** */

.pitch-editor {
   width: 100%;
   height: 100vh;
   box-sizing: border-box;
}

.pitch-component {
   height: 18%;
   cursor: pointer;
   padding-bottom: 2%;
   vertical-align: top;
   display: inline-block;
   transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
}

.pitch-component.col-divide-1 {
   width: 100%;
}

.pitch-component.col-divide-2 {
   width: 48%;
   padding-left:  1%;
   padding-right: 1%;
}

.pitch-component.row-scale-2 {
   height: 28%;
}

.pitch-component.row-scale-3 {
   height: 38%;
}

.pitch-component.row-scale-4 {
   height: 48%;
}

.pitch-component.row-scale-5 {
   height: 58%;
}

.pitch-component.row-scale-6 {
   height: 68%;
}

.pitch-component.row-scale-7 {
   height: 78%;
}

.pitch-component.row-scale-8 {
   height: 88%;
}

.pitch-component .control-buttons {
   position: absolute;
   left: -16px;
}

.pitch-component .control-buttons.hidden-desktop {
   left: -5px;
}

.pitch-component .control-buttons > .btn {
   text-align: right;
   padding-right: 10px;
}

.component-body {
   background: transparent;
   background-position: center center;
   background-size: cover;
   height: 100%;
}

.image-component-body {
   /* TODO */
}

.text-component-body {
   /* TODO */
}

.modal-adjust-component .modal-body {
   max-height: 440px;
}

.adjustments-block {
   position: relative;
}

.adjustments-block > label {
   position: absolute;
   top: -30px;
   background: white;
   padding: 0 10px;
   text-transform: uppercase;
   left: 5%;
   font-size: 12px;
   letter-spacing: 4px;
   font-weight: lighter;
}

ul.component-adjustment-buttons {
   zoom: 0.6;
}

ul.component-adjustment-buttons.threesie {
   margin: auto 9%;
}

ul.component-adjustment-buttons.twosie {
   margin: auto 18%;
}

.component-adjustment-buttons li,
.component-adjustment-buttons li:hover {
   color: inherit;
}

.component-adjustment-buttons li:hover {
   text-decoration: none;
   background-color: #eee;
}

.component-adjustment-buttons .btn i {
   display: block;
   margin: auto;
   zoom: 3;
   margin-bottom: 7%;
}
