@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/HqHm7BVC_nzzTui2lzQTDbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@media (max-width: 479px) {
   /* Root element font remmage */
   html {
      font-size: 11px;
   }
}

@media (min-width: 480px) and (max-width: 640px) {
   html {
      font-size: 13px;
   }
}

@media (min-width: 768px) {
   body, html {
      /* always permit scrolling on the desktop */
      overflow-y: auto !important;
   }
   body {
      padding: 60px 0;
   }
   .body-padder {
      height: 20px !important;
   }
   .pitch-editor {
      padding: 0 12px;
   }
}

@media (max-width: 767px) {
   html, body {
      overflow-y: auto;
      overflow-x: hidden;
   }
   .responsive-item-list-table {
      font-size: 1.5rem;
   }
   .responsive-item-list-table td {
      padding: 0;
      max-width: 100vw;
      overflow-x: hidden;
      white-space: nowrap;
   }
   .responsive-item-list-table td a {
      width: 100vw;
      display: block;
      padding: 1.7rem;
      font-weight: 200;
      box-sizing: border-box;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
   }
   .responsive-item-list-table .loading-spinner-container {
      padding: .6rem 0;
   }
   .pitch-component .control-buttons .btn-link {
      left: -0.3rem;
   }
}

@media (min-width: 825px) {
   .document-component {
      background-size: 88%;
   }
}

/* *** */

body, input, button {
   -webkit-font-smoothing:  antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
   background-color: #f8f8f8;
   transition: padding 0.3s ease;
   -moz-transition: padding 0.3s ease;
   -webkit-transition: padding 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Helvetica Neue', 'Helvetica', Arial;
   font-weight: 200;
}

button {
   text-align: center;
}

/* *** */

.ng-view {
   padding-top: .7rem;
   max-width: 768px;
   margin: auto auto;
   box-sizing: border-box;
}

.ng-view.with-branding-borders {
   border-left:   .2rem solid transparent;
   border-right:  .2rem solid transparent;
   border-bottom: .6rem solid transparent;
}

/* *** */

.navbar-fixed-top {
   cursor: pointer;
   position: fixed;
   background: rgb(80,148,200);
}

.navbar-inner {
   min-height: 55px;
   margin: 3px;
   padding: 0 !important;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
}

.navbar-inner.top-level-navbar-inner {
   background: transparent url(../img/icon.png) no-repeat scroll center center;
   background-size: contain;
   border-bottom: none;
   box-shadow: none;
}

.branded-navbar {
   max-width: 768px;
   margin: auto auto;
}

.modal {
   border-radius: 0;
   -webkit-border-radius: 0;
}

.modal-header {
   font-family: 'Oswald';
   font-weight: 300;
   font-size: 2rem;
   padding: 2.9rem;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 5px;
   padding-bottom: 0.5em;
   border-bottom: none;
}

.modal-header > .close {
   margin-top: 2px;
   position: absolute;
   font-size: 1.5rem;
   right: 10px;
   zoom: 1.4;
   top: 2px;
}

/* *** */

.body-padder {
   width:  100%;
   height: 50px;
}

.branded-logo-bar-container {
   background-image: none !important;
   border: 0;
   margin: 0;
   display: none;
}

.branded-logo-bar-container.with-top-border {
   display: block;
}

.branded-logo-bar {
   text-align: center;
   min-height: 6rem;
   max-height: 6rem;
   padding:   .5rem;
}

.branded-logo-bar img.logo {
   min-height: inherit;
   max-height: inherit;
}

.fixed-finish-and-save-toolbar {
   position: fixed;
   top: 14px;
   right: 20px;
   z-index: 1050;
}

h3.list-page-header {
   text-indent:   1.4rem;
   margin-bottom: 1.4rem;
   font-size:     2.4rem;
}

.opportunities-list-view {
   position: relative;
}

.opportunities-list-view .visible-phone {
   transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
}

.opportunities-list-view .visible-phone.slide {
   transform: translate(-120%, 0);
   -ms-transform: translate(-120%, 0);
   -moz-transform: translate(-120%, 0);
   -webkit-transform: translate(-120%, 0);
}

.opportunities-list-view .visible-phone td i {
   margin-right: 6px;
}

.opportunities-list-view .loading-component-body {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: -1;
   box-sizing: border-box;
}

.pitch-editor {
   margin: 0;
   width: 100%;
   height: auto;
   overflow-y: auto;
   box-sizing: border-box;
   border-bottom: 2.8rem solid transparent;
}

.pitch-component {
   height: 18%;
   cursor: pointer;
   display: inline-block;
   vertical-align: top;
   position: relative;
   padding-bottom: 2%;
   transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
}

.pitch-component.col-divide-1 {
   width: 100%;
}

.pitch-component.col-divide-2 {
   width: 48%;
   padding-left:  1%;
   padding-right: 1%;
}

.pitch-component.row-scale-2 {
   height: 28%;
}

.pitch-component.row-scale-3 {
   height: 38%;
}

.pitch-component.row-scale-4 {
   height: 48%;
}

.pitch-component.row-scale-5 {
   height: 58%;
}

.pitch-component.row-scale-6 {
   height: 68%;
}

.pitch-component.row-scale-7 {
   height: 78%;
}

.pitch-component.row-scale-8 {
   height: 88%;
}

.pitch-component.row-scale-4 .component-body,
.pitch-component.row-scale-5 .component-body,
.pitch-component.row-scale-6 .component-body,
.pitch-component.row-scale-7 .component-body,
.pitch-component.row-scale-8 .component-body {
   background-size: cover !important;
}

.pitch-component .control-buttons {
   position: absolute;
   color: black;
}

.pitch-component .control-buttons.hidden-desktop {
   left: 8px;
}

.pitch-component .control-buttons .btn-link {
   font-family: 'Helvetica Neue', Helvetica, Arial;
   font-size: 2.5rem;
   font-weight: bold;
   border-radius: 0px;
   padding: 0.4rem 0.5rem;
   margin-top: 2px;
   z-index: 1000;
}

.pitch-component .control-buttons > .btn {
   text-align: right;
   padding-right: 10px;
}

.pitch-component .control-buttons > .btn-remove {
   color: #F00000;
}

.document-component {
   text-align: right;
   color: white;
   padding:   1.3rem;
   font-size: 1.2rem;
   font-weight: 400;
}

.component-body {
   background: #f9f9f9;
   background-position: center center;
   background-size: cover;
   height: 100%;
   box-sizing: border-box;
}

.loading-component-body {
   background: none;
   text-align: center;
   padding: 6rem;
   color: #333;
   opacity: 0.5;
}

.loading-component-body .loading-spinner {
   margin-bottom: 1.3rem;
}

.text-component-body,
.contact-details-component-body {
   background: transparent;
   padding: 1rem 1rem 1rem 2rem;
   overflow-y: hidden;
   font-size: 1rem;
}

.contact-details-component-body .contact-field {
   display: block;
}

.contact-details-component-body *:first-child {
   font-weight: 400;
   margin-bottom: .7rem;
   border-bottom: 1px solid #ccc;
}

.modal-adjust-component {
   color: #333;
}

.modal-adjust-component .modal-body {
   max-height: 440px;
   overflow-x: hidden;
   white-space: nowrap;
}

.modal-adjust-component .modal-body > .slide {
   width: 100%;
   vertical-align: top;
   display: inline-block;
   transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
}

.modal-adjust-component .modal-body.showing-slide-2 > .slide {
   transform: translate(-100%, 0);
   -ms-transform: translate(-100%, 0);
   -moz-transform: translate(-100%, 0);
   -webkit-transform: translate(-100%, 0);
}

.modal-adjust-component .modal-body.showing-slide-3 > .slide {
   transform: translate(-200%, 0);
   -ms-transform: translate(-200%, 0);
   -moz-transform: translate(-100%, 0);
   -webkit-transform: translate(-200%, 0);
}

.modal-adjust-component .loading-spinner-container {
   text-align: center;
   padding: 6%;
}

.adjustments-block {
   position: relative;
}

.adjustments-block > label {
   position: absolute;
   top: -32px;
   background: #f9f9f9;
   padding: 0 10px;
   text-transform: uppercase;
   left: 4%;
   font-size: 0.8rem;
   letter-spacing: 4px;
   font-family: 'Oswald';
   font-weight: 200;
}

.adjustments-block.content-type-selection .active-type:after {
   content: "\f00c";
   font-family: FontAwesome;
   float: left;
   color: green;
   margin-right: -16px;
   -webkit-transform: scale(3);
   -webkit-transform-origin: left center;
   transform: scale(3);
   transform-origin: left center;
}

ul.component-adjustment-buttons {
   display: block;
   margin: 0;
   box-sizing: border-box;
}

ul.component-adjustment-buttons.btn-group-vertical .btn {
   padding: 1.4rem;
   border-bottom: 1px solid #f6f6f6;
}

ul.component-adjustment-buttons.threesie {
   width: 100%;
   padding: 0 8%;
}

ul.component-adjustment-buttons.twosie {
   width: 100%;
   padding: 0 16%;
}

.component-adjustment-buttons.twosie li {
   width: 50%;
}

.component-adjustment-buttons.threesie li {
   width: 33%;
}

.component-adjustment-buttons li {
   font-size: 1rem !important;
   font-weight: 200;
   padding: .7rem;
}

.component-adjustment-buttons li,
.component-adjustment-buttons li:hover {
   color: inherit;
   box-sizing: border-box;
}

.component-adjustment-buttons li:hover {
   text-decoration: none;
   background-color: #eee;
}

.component-adjustment-buttons .btn i {
   display: block;
   margin: auto;
   zoom: 2.55;
   margin-bottom: 7%;
}

.component-adjustment-buttons .btn i.fa-outdent,
.component-adjustment-buttons .btn i.fa-indent {
   -webkit-transform: rotateY(180deg);
   transform: rotateY(180deg);
}

.btn-save-and-finish,
.btn-save-and-finish:focus {
   line-height: 1;
   background-color: #ddd;
   color: #666;
   padding: .5em .75em;
   padding-top: .5em;
   box-shadow: inset 0 -1px 0 rgba(0,0,0,.3);
   border-radius: .1875em;
}

.btn-save-and-finish:active {
   background-color: #555;
   color: #f1f1f1;
   box-shadow: none !important;
   text-shadow: none;
}

.author-contact-details-footer-label {
   position: relative;
   top: -2.3rem;
   color: white;
   font-size: .9rem;
   font-weight: 500;
   text-align: center;
   margin-bottom: -18px;
}

.author-contact-details-footer-label *:first-child {
   display: inline;
}

.author-contact-details-footer-label .contact-field:before {
   content: ", ";
}

.author-contact-details-footer-label .contact-field-0:before {
   content: "";
}

.share-url-page-heading-text {
   color: #333;
   font-size: 2.4rem;
}

.share-url-page-share-url {
   margin: 2rem 0;
   font-size: 2rem;
}

.share-page-view .share-buttons .btn {
   font-size: 1.55rem;
}

.share-page-view .twitter-share-button {
   -webkit-transform: scale(1.6);
   transform: scale(1.6);
}

/* *** */
/* Flipping "add component" button (credit: David Walsh) */
/* *** */

/* simple */
.flip-container {
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   perspective: 1000;
}

.flip-container.hover .flipper,
#flip-toggle.flip .flipper {
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   transform: rotateY(180deg);
   filter: FlipH;
   -ms-filter: "FlipH";
}

.flip-container, .front, .back {
   width:  inherit;
}

.flipper {
   -webkit-transition: 0.3s;
   -webkit-transform-style: preserve-3d;

   -moz-transition: 0.3s;
   -moz-transform-style: preserve-3d;

   transition: 0.3s;
   transform-style: preserve-3d;

   position: relative;
}

.front, .back {
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   backface-visibility: hidden;

   position: absolute;
   top: 0;
   left: 0;

   height: 100%;
   box-sizing: border-box;

   background: transparent;
   border: 3px dashed #999;
}

.front {
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   background-size: 30%;
   background: transparent url(../img/plus.svg) no-repeat scroll center center;
   z-index: 2;
}

.back {
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   transform: rotateY(180deg);
   border-color: #444;
   background-color: #eee;
}

/* vertical */
.vertical.flip-container {
   position: relative;
   opacity: 0.3;
}

.vertical.flip-container .flipper {
   /*transform-origin: 100% 50%; /* half of height */
   -webkit-transform-origin: 100% 50%;
   -moz-transform-origin: 100% 50%;
   transform-origin: 100% 50%;
   width: 100%;
   height: 100%;
}

.vertical .back {
   -webkit-transform: rotateX(180deg);
   -moz-transform: rotateX(180deg);
   transform: rotateX(180deg);
}

.vertical.flip-container .flipper {
   -webkit-transform-origin: 100% 50%;
   -moz-transform-origin: 100% 50%;
   transform-origin: 100% 50%;
}

.vertical.flip-container.hover .flipper {
   -webkit-transform: rotateX(-180deg);
   -moz-transform: rotateX(-180deg);
   transform: rotateX(-180deg);
}

